body {
  background: #f2f2f2;
  font-family: Arial;
  padding: 40px;
}

h1, h2 { text-align: center; }

.form {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
}

input {
  padding: 10px;
  width: 200px;
}

.order {
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}